dlib==19.24.6
imutils==0.5.4
numpy==2.1.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
scipy==1.14.1
simpleaudio==1.0.4
streamlit==1.39.0
streamlit_webrtc==0.47.9
