absl-py==2.1.0
aiohttp==3.8.5
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.14
altair==5.1.1
annotated-types==0.6.0
anyio==4.6.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
av==12.3.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.1.0
blinker==1.6.2
boltons==23.0.0
build==1.2.2.post1
cachetools==5.3.1
canvas==0.3
catboost==1.2.5
category-encoders==2.6.2
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.13
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.0.0
cmake==3.26.3
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
contourpy==1.0.7
cookiecutter==2.6.0
cryptography==43.0.1
cycler==0.11.0
Cython==3.0.11
dask==2024.3.1
death==1.2.2
debugpy==1.6.7
decorator==5.1.1
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.14
dlib==19.24.6
dnspython==2.7.0
docopt==0.6.2
durationpy==0.9
easydict==1.13
easyocr==1.7.1
emoji==2.8.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
executing==1.2.0
fac==1.0.0
face==22.0.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.115.0
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
ffs==0.0.8.2
filelock==3.12.3
fire==0.6.0
Flask==3.0.0
Flask-Cors==4.0.1
flatbuffers==24.3.25
flet==0.24.1
flet-core==0.24.1
flet-runtime==0.24.1
fonttools==4.38.0
frozenlist==1.4.0
fsspec==2024.3.0
ftfy==6.3.0
fun==1.0.0
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.5.4
gdown==5.2.0
ghost==0.6.1
gitdb==4.0.10
GitPython==3.1.34
google-auth==2.35.0
google-crc32c==1.6.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googletrans==4.0.0rc1
graphviz==0.20.3
grpcio==1.63.0
gunicorn==23.0.0
h11==0.14.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.2.1
htmlmin==0.1.12
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.2
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
ifaddr==0.2.0
ImageHash==4.3.1
imageio==2.35.0
importlib-metadata==6.8.0
importlib_resources==6.4.5
imutils==0.5.4
insightface==0.7.3
ipykernel==6.23.3
ipython==8.12.3
itsdangerous==2.1.2
jax==0.4.34
jaxlib==0.4.34
jedi==0.18.2
Jinja2==3.1.2
joblib==1.1.1
jsonschema==4.17.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab_pygments==0.3.0
jutl==0.5.3
keras==3.3.3
keyboard==0.13.5
kiwisolver==1.4.4
kubernetes==31.0.0
lazy_loader==0.4
letter==0.5
Levenshtein==0.26.0
libclang==18.1.1
lightgbm==4.5.0
locket==1.0.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.14
missingno==0.5.2
mistune==3.0.2
ml-dtypes==0.3.2
mmh3==5.0.1
monotonic==1.6
MouseInfo==0.1.3
mpmath==1.3.0
mtcnn==0.1.1
multidict==6.0.4
multimethod==1.11.2
mysql==0.0.3
mysqlclient==2.2.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.6
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.4
oauthlib==3.2.2
onnx==1.16.2
onnxruntime==1.19.2
openai==0.27.9
opencsv==0.0.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.0.2
pandas-profiling==3.2.0
pandocfilters==1.5.1
parso==0.8.3
partd==1.4.1
patsy==0.5.3
pdf2image==1.17.0
phik==0.12.4
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.5.0
platformdirs==3.8.0
playsound==1.3.0
plotly==5.22.0
posthog==3.7.0
prettytable==3.11.0
prompt-toolkit==3.0.38
protobuf==4.25.5
psutil==5.9.5
pure-eval==0.2.2
py==1.11.0
pyarrow==13.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.53
pybbn==3.2.3
pyclipper==1.3.0.post5
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.0
pydub==0.25.1
pyee==12.0.0
PyGetWindow==0.0.9
Pygments==2.15.1
pylibsrtp==0.10.0
Pympler==1.0.1
PyMsgBox==1.0.9
PyMuPDF==1.23.12
PyMuPDFb==1.23.9
pyOpenSSL==24.2.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
PyPika==0.48.9
pypng==0.20220715.0
pyproject-toml==0.0.10
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
pytesseract==0.3.10
python-bidi==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-Levenshtein==0.26.0
python-slugify==8.0.4
pythonping==1.1.4
pytweening==1.0.4
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.5.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
qrcode==7.4.2
RapidFuzz==3.10.0
regex==2024.9.11
repath==0.9.0
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==2.0.0
retina-face==0.0.17
rfc3986==1.5.0
rich==13.5.2
rsa==4.9
scapy==2.5.0
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.11.0
seaborn==0.12.2
selenium==4.23.0
shapely==2.0.6
shellingham==1.5.4
simpleaudio==1.0.4
six==1.16.0
sklearn==0.0.post5
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
stack-data==0.6.2
starlette==0.38.6
statsmodels==0.14.0
streamlit==1.39.0
streamlit-lottie==0.0.5
streamlit-nested-layout==0.1.4
streamlit-webrtc==0.47.9
sympy==1.13.2
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tesseract==0.1.3
text-unidecode==1.3
tf_keras==2.17.0
threadpoolctl==3.1.0
tifffile==2024.8.10
tinycss2==1.3.0
tinydb==4.8.0
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.4.1
torchvision==0.19.1
tornado==6.3.2
tqdm==4.66.1
traceroute==19.2.0
traitlets==5.9.0
trio==0.26.0
trio-websocket==0.11.1
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==4.3.1
uritools==4.0.2
urlextract==1.8.0
urllib3==2.0.4
uvicorn==0.31.1
validators==0.22.0
visions==0.7.4
watchdog==4.0.2
watchfiles==0.24.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.1
wordcloud==1.9.2
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.1
yarg==0.1.9
yarl==1.9.2
zipp==3.16.2